# OTC domain name
export OS_DOMAIN_NAME=$ENV_OTC_DOMAIN
export TF_VAR_domain_name=$OS_DOMAIN_NAME

# OTC project name eg: eu-de_user
export OS_PROJECT_NAME=$ENV_OTC_PROJECT_NAME

# OTC username
export OS_USERNAME=$ENV_OTC_USERNAME

# prefix for cloud services
# loki's bucket name will not be prefixed
export TF_VAR_prefix=$OS_USERNAME

# OTC region eu-de/eu-nl
export TF_VAR_region=$ENV_OTC_REGION
export REGION=$TF_VAR_region

# OTC account id
# This is actually OTC DOMAIN ID, but it is called ACCOUNT ID in the console
# You can find this at: https://console.otc.t-systems.com >> My Credentials >> Account ID
export TF_VAR_domain_id=$ENV_OTC_DOMAIN_ID

# OTC password
export OS_PASSWORD=$ENV_OTC_PASSWORD


